<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Preguntas</title>
<link href='https://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
	th:href="@{/css/user-form.css}">

<!-- DATA TABLE -->
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="css/calendar.css">
<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
	th:href="@{/css/user-form.css}">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="js/js.js"></script>
<script type="text/javascript" src="js/calendar.js"></script>
<script type="text/javascript" src="js/es-ES.js"></script>
<script type="text/javascript" src="js/moment.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>

<link rel="stylesheet" href="../css/calendar.css">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
<script type="text/javascript" src="js/es-ES.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
<script src="js/bootstrap-datetimepicker.es.js"></script>



<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/nuevo.js"></script>
</head>

<style type="text/css">
.col-md-12.fieldwrapper {
	margin-bottom: 2%;
}

.valor {
	width: 20%;
	float: left;
}

.opcion {
	width: 50%;
	float: left;
}

.fieldname {
	width: 85%;
	display: inline;
}

.cuerpo {
	background: #fff;
	padding: 5%;
	box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.47);
}
/*	.new{
      		margin-left: 1.5%;
      	}*/
.remove {
	margin-left: 1%;
}

.subfield .remove {
	margin-top: 1%;
}

.btn-success {
	background: #00541c;
	border-color: #00541c;
}

#add, #ver {
	position: fixed;
	left: 5%;
}
</style>
<header th:replace="/home :: header"></header>
<body style="background: #d6d6d6;">

	<div class="content">
		<div class="col-md-10 cuerpo">
			<center>
				<h3>Preguntas</h3>
			</center>
			<form class="form-horizontal" method="post"
				action="guardaEncuesta.php" target="_blank">
				<div class="form-group col-md-12" role="listitem">
 
					<select name="dirigido" class="form-control" required>
						<option value="">Selecciona la encuesta a asignar preguntas</option>
						<option value="1">Profesores</option>
						<option value="2">Alumnos</option>
						<option value="3">Administrativos</option>
						<option value="4">Profesores y administrativos</option>
						<option value="5">General</option>
					</select>
				</div>

				<aside>
					<button type="button" class="add btn btn-success" id="add">
						<span class="glyphicon glyphicon-plus"></span> Nueva pregunta
					</button>
					<br>
				
				</aside>

				<div class="form-group col-md-12" role="listitem">

					<fieldset id="buildyourform">
				</div>


				</br> <input type="submit" name="guardar"
					class="btn btn-success" value="Guardar">
			</form>
		</div>
	</div>
</body>
</html>